.profile-card{
    width: 400px;
    margin: auto;
    background: #fff;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.5);
}

.image-container{
    position: relative;
}

.info{
    color: #4B4FE2;
    margin-right: 16px;
}

.main-container{
    padding: 20px;
}

.skill-bar{
    background-color: #B2C9EA;
    border-radius: 16px;
}

.progress-bar{
    padding: 0.1em 16px;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    background-color: #4B4FE2;
}

.title{
    position: absolute;
    left: 15px;
    bottom: 0;
    color: #fff;
}